.body-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 20%;
    width: 300px;
}

form {
    padding: 20px;
}

form input {
    width: 600px;
    height: 44px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
}

form div.input-container {
    position: relative;
}

form div.input-container>fa-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #a5a5a5;;
}

form div.input-container>input {
    padding-left: 45px;
    padding-right: 0;
}

form div.input-container>button {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid white;
    font-size: 16px;
    color: rgb(57, 68, 231);
}

form div.btn {
    text-align: center;
    padding-top: 18px;
}

div.text {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #3c4043;
}
