div.dialog-container {
  display: flex;
  flex-flow: row wrap;
}

.dialog-container > .user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #f1f1f1;
  width: 200px;
  height: 220px;
  margin: 5px;
  text-align: center;
}
