<div class="body-flex-container">
    <div>
        <img src="../../assets/images/googlelogo.png" alt="Google">
    </div>
    <div>
        <form>
            <div class="input-container">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="search" placeholder="">
                <button><fa-icon [icon]="faMicrophone"></fa-icon></button>
            </div>
            <div class="btn">
                <app-button id="myBtn" text="GET USERS" (btnClick)="getUser()"></app-button>
                <app-button text="I'm Feeling Lucky"></app-button>
            </div>
        </form>
    </div>
    <div class="text">
        Google offered in: <a href="">Deutsch</a>
    </div>
</div>
