div.user {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*box-sizing: border-box;*/
  width: 200px;
  /*height: 360px;*/
  margin: 10px;
  text-align: center;
}

div.user-info {
  background-color: #f1f1f1;
  /*margin-bottom: 10px;*/
  padding: 10px;
}

.user-info h4 {
  margin: 0;
}

.user-info p {
  margin: 8px 0;
}

.user-img {
  margin-left: auto;
  margin-right: auto;
  height: 128px;
  width: 128px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

div.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 5px;
}

.user-buttons > button {
  padding: 5px 20px;
  font-size: 13px;
}

.update-form {
  background-color: #f1f1f1;
  margin-top: 10px;
  padding: 10px;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.form-control label {
  margin: 0 5px 10px;
}

.form-control input {
  width: 120px;
  margin: 0 5px 10px;
}

.file-input {
  display: none;
}

.button {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 13px;
}
