<div class="user">
  <div class="user-info">
    <h4>
      <span [innerHTML]="userData.first_name | highlightText:keyword "></span>&nbsp;
      <span [innerHTML]="userData.last_name | highlightText:keyword "></span>
      <!--      {{ userData.first_name | highlightText:'' }}-->
      <!--      {{ userData.last_name | highlightText:'' }}-->
      <span *ngIf="userData.update"> (Updated)</span>
    </h4>
    <p>{{userData.email}}</p>
    <img src="{{userData.avatar}}" alt="">
  </div>
  <div class="user-buttons">
    <button type="button" (click)="toggleUpdate()">Update</button>
    <button type="button" (click)="onDelete(userData)">Delete</button>
  </div>
  <form *ngIf="showUpdate" class="update-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="fName">First Name</label>
      <input type="text" name="fName" [(ngModel)]="userData.first_name" id="fName" placeholder="First Name">
    </div>
    <div class="form-control">
      <label for="lName">Last Name</label>
      <input type="text" name="lName" [(ngModel)]="userData.last_name" id="lName" placeholder="Last Name">
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="userData.email" id="email" placeholder="Email">
    </div>
    <input type="submit" value="Update User Info" class="submit">
  </form>
</div>
