<div class="user" *ngIf="user">
  <div class="user-info">
    <h4>
      <span [innerHTML]="user.first_name | highlightText:keyword "></span>&nbsp;
      <span [innerHTML]="user.last_name | highlightText:keyword "></span>
      <!--      {{ userData.first_name | highlightText:keyword }}-->
      <!--      {{ userData.last_name | highlightText:keyword }}-->
      <span *ngIf="user.update"> (Updated)</span>
    </h4>
    <p>{{user.email}}</p>
    <div class="user-img">
      <img src="{{user.avatar}}" alt="user avatar">
    </div>
  </div>
  <div class="user-buttons">
    <button type="button" (click)="toggleUpdate()">Update</button>
    <button type="button" (click)="onDelete(user)" style="background-color: #d9d9d9">Delete</button>
  </div>
  <form *ngIf="showUpdate" class="update-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" [(ngModel)]="user.first_name" id="firstName" placeholder="First Name">
    </div>
    <div class="form-control">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="user.last_name" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="user.email" id="email" placeholder="Email">
    </div>
    <input type="file" class="file-input" accept="image/jpeg,image/gif,image/png" (change)="onFileSelected($event)"
           #fileUpload>
    <div class="file-upload">
      <button type="button" class="button" (click)="fileUpload.click()">Change Avatar</button>
    </div>
    <input type="submit" value="Update User Info" class="button" style="background-color: #d9d9d9">
  </form>
</div>
